* {
  box-sizing: border-box;
  text-align: center;
}
input {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}
.navbar-brand{
  font-size: 40px;
}
.navbar-brand img{
  padding-right: 3%;
}
